body{
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.navbar {
    min-height:100px;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
.navbar-brand{
    text-align: center !important;
    font-size: 80px;
    font-family: cursive;
    color:#d42222 !important;
   }
   .containerBody{
    background-color:#ffffff;
    margin:40px;
}